@model Sistran.Core.Framework.UIF.Web.Controllers.SampleDTO
<div class="uif-row">
    <div class="uif-col-4">
        @Html.LabelFor(model => model.Empresa)
        @Html.TextBoxFor(model => model.Empresa)
        @Html.ValidationMessageFor(model => model.Empresa)
    </div>
    <div class="uif-col-4">
        @Html.LabelFor(model => model.Ciudad)
        @Html.TextBoxFor(model => model.Ciudad)
        @Html.ValidationMessageFor(model => model.Ciudad)
    </div>
    <div class="uif-col-4">
        @Html.LabelFor(model => model.Pais)
        @Html.TextBoxFor(model => model.Pais)
    </div>
</div>
